<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,500,600,800' rel='stylesheet' type='text/css'>
    <title>{% block title %}Cours de gratte.com | Retrouvez les meilleurs tutos guitare du net !{% endblock %}</title>
    {% stylesheets '@CoursdeGratteBundle/Resources/public/css/*' filter='cssrewrite'%}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <div class="nav-wrapper blue-grey darken-4">
            <a href="{{  path('main') }}" class="brand-logo">COURS<span class="orange"> de </span>GRATTE <span class="orange">.com</span></a>
        </div>
    </div>
    <div class="collapse navbar-collapse navHeaderCollapse">
        <ul class="nav navbar-nav navbar-right">
            <!--  admin -->
            {% if is_granted("ROLE_ADMIN") %}
                <li><a href="">Administration</a></li>
            {% endif %}

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED")%}
                <li> {{ app.user.username }} </li>
                <li class="divider"></li>
            {% endif %}

            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
            {% else %}
            <li><a href="">Mes Favoris</a></li>
            <li><a href="">Playlist</a></li>
            <li><a href="">Informations</a></li>
            <li class="divider"></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div id="searchBox" class="row">
    <div class="input-field col s12 m10 offset-m1 l8 offset-l2">
        <input id="search" type="text" class="validate" placeholder="Rechercher" >
    </div>
</div>

