<!-- NAVBAR -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- Je vérifie que je suis bien sur la homePage pour afficher l'icone Hamburger -->
            {% if app.request.get("_route") == "home" %}
                <button id="menuHamburger">
                    {% image 'images/m_hamburger.png' %}
                    <img id="iconHamburger" src="{{ asset_url }}" alt="menuFiltres" />
                    {% endimage %}
                </button>
                <!-- Je rajoute une classe sur le logo pour pouvoir le cacher sur la homepage sur mobile -->
                <a href="{{ path('home') }}" class="brand-logo">
                    {% image 'images/logo.jpg' %}
                    <img id="logo" class="logoToHide" src="{{ asset_url }}" alt="logo" />
                    {% endimage %}
                </a>
            {% else %}
                <!-- Je suis pas sur la home page donc je laisse le logo s'afficher normalement meme sur mobile -->
                <a href="{{ path('home') }}" class="brand-logo">
                    {% image 'images/logo.jpg' %}
                    <img id="logo" src="{{ asset_url }}" alt="logo" />
                    {% endimage %}
                </a>
            {% endif %}


            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                {% image 'images/ic_user_new.png' %}
                <img id="userIcon" src="{{ asset_url }}" alt="icon_user" />
                {% endimage %}
            </button>
        </div>
        {% if app.request.get("_route") == "home" %}
        <button id="searchButton">
            {% image 'images/search_icon.png' %}
            <img id="searchIcon" src="{{ asset_url }}" alt="searchIcon" />
            {% endimage %}
        </button>
        {% endif %}
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="proposition" href="">Poster un TUTO</a></li>

                <!-- Affichage du menu en fonction d'une session ouverte ou non -->
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") == false %}
                <li><a id="inscription-link" href="{{ path('fos_user_registration_register') }}">S'inscrire</a></li>
                <li><a href="{{ path('fos_user_security_login') }}">Se connecter</a></li>
                {% endif %}

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" id="pseudo_menu" data-toggle="dropdown" role="button" aria-expanded="false">
                        {{ app.user.username }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <!--  admin -->
                        {% if is_granted("ROLE_ADMIN") %}
                            <li><a href="">Administration</a></li>
                        {% endif %}

                        <li><a href="">Mes Favoris</a></li>
                        <li><a href="">Playlist</a></li>
                        <li><a href="">Informations</a></li>

                        <li class="divider"></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>
<div id="wrapper">