{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container" id="loginContent">
        <h1>Se connecter</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>

                    <label for="username">Pseudo ou Email</label>
                    <input class='form-control' type="text" id="username" name="_username" value="{{ last_username }}"
                           required="required"/>

                    <label for="password">{{ 'security.login.password'|trans }}</label>
                    <input class='form-control' type="password" id="password" name="_password" required="required"/>

                    <div class="checkbox">

                        <label for="remember_me">
                            <input type="checkbox" id="remember_me" name="_remember_me"
                                   value="on">{{ 'security.login.remember_me'|trans }}
                        </label>
                    </div>

                    <input class='btn btn-warning' type="submit" id="_submit" name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>

                </form>
                <form method="POST" action="{{ path("fos_user_security_login") }}">
                    {% if resendButton == true %}
                        <input class="btn btn-success" type="submit" name="_resend" value="Renvoyer l'email de confirmation" />
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
