{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid" id="mainContent">
        <div class="row">

            <div class="row"><!-- Row de la recherche -->
                <div class="col-md-6 col-md-offset-3">
                    <div class="input-group" id="searchTop">
                        <input id="search" class="form-control input-lg" type="text" name="search"
                               placeholder="Rechercher Artiste / Chanson / Prof" autocomplete="off">
                    </div>
                </div>
            </div>

            <!-- Select avec tous les filtres colonne de gauche -->
            <div id="allFilters" data-select=".triSelect">
                <div class="row" id="typetuto">
                    <div class="col-md-4 col-sm-6 col-xs-12 col-md-offset-4 col-sm-offset-3">
                        <select class="form-control triSelect" id="selectTypetuto" data-name="typetuto">
                            <option selected="selected" value="Choisir">Tous types de tutos</option>
                            <option value="1">Tutos Chansons</option>
                            <option value="2">Tutos Divers</option>
                        </select>
                    </div>
                </div>

                <!-- Premiere rangee de filtre -->
                <div class="row filtre">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control triSelect" id="selectDifficulty" data-name="difficulty">
                            <option value="Choisir">Toutes les difficultés</option>
                            <option class="optiondiff-1" value="1">Très Facile</option>
                            <option class="optiondiff-2" value="2">Facile</option>
                            <option class="optiondiff-3" value="3">Moyen</option>
                            <option class="optiondiff-4" value="4">Difficile</option>
                            <option class="optiondiff-5" value="5">Très Difficile</option>
                        </select>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control triSelect" id="selectStyle" data-name="style">
                            <option selected="selected" value="Choisir">Tous les styles</option>
                            <option class="resultstyle"></option>
                        </select>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control triSelect" id="selectProf" name="Prof" data-name="prof">
                            <option selected="selected" value="Choisir">Tous les profs</option>
                            {% for prof in profs %}
                                <option class="resultprof" value="{{ prof.id }}">{{ prof.prof }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control triSelect" id="selectTypeguitare" data-name="typeguitare">
                            <option selected="selected" value="Choisir">Tous types de guitare</option>
                            <option value="1">Acoustique</option>
                            <option value="2">Electrique</option>
                            <option value="3">Acoustique et Electrique</option>
                            <option value="4">Ukulélé</option>
                        </select>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control triSelect" id="selectTypejeu" data-name="typejeu">
                            <option selected="selected" value="Choisir">Tous types de jeux</option>
                            {% for typejeu in types_jeu %}
                                <option value="{{ typejeu.id }}">{{ typejeu.typejeu }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <select class="form-control triSelect" id="selectLangue" data-name="langue">
                            <!-- REFAIRE LA CONDITION POUR LA VALEUR DE LA LANGUE PAR DEFAUT DANS SESSION USER -->
                            <option selected="selected" value="Choisir">Toutes les langues</option>
                            {% for langue in langues %}
                                <option value="{{ langue.id }}">{{ langue.langue }}</option>
                            {% endfor %}
                        </select>
                    </div>

                </div>

                <!-- Seconde Rangee-->
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12">
                        <div class="input-group" id="tablature">
                            <span class="input-group-addon">
                                <input type="checkbox" id="selectTab" name="selectTab">
                            </span>
                            <span class="form-control"><label for="selectTab">Avec Tablature</label></span>
                        </div>
                    </div>

                    <div id="reset">
                        <div class="col-lg-2 col-md-4 col-sm-4 col-xs-12 ">
                            <button class="btn btn-danger reset">Reset</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% javascripts  '@CoursdeGratteBundle/Resources/public/js/new_app.js'
    '@CoursdeGratteBundle/Resources/public/js/design.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
