{% extends '::base.html.twig' %}

{% block body %}
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% endif %}
        </div>


        {% block fos_user_content %}
        {% endblock fos_user_content %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.request.get("_route") == "fos_user_registration_register" %}
        {% javascripts 'js/register.js' output="js/compiled/register.js" %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endif %}
{% endblock %}
