<div class="modal fade" tabindex="-1" role="dialog" id="favModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Playlists
                    <!-- LOADER -->
                    {% image 'images/ripple.svg' %}
                    <img id="loaderPlaylist" src="{{ asset_url }}" alt="loader"/>
                    {% endimage %}
                </h4>
            </div>
            {{ form_start(form, { method : "POST", action : path("single", {"slug" : tuto.slug, "id" : tuto.id}) }) }}
            <div class="modal-body">

                <ul id="playlistContainer">


                    {% for playlist in form.playlist %}
                        <div class="checkbox">
                            {% if alreadyInFav|default and alreadyInFav.playlist.id == playlist.vars.value %}
                                {{ form_widget(playlist, {'attr' : { 'checked ' : true }}) }}
                            {% else %}
                                {{ form_widget(playlist, {'attr' : { 'checked ' : false }}) }}
                            {% endif %}
                            {{ form_label(playlist) }}
                        </div>
                    {% endfor %}


                </ul>
            </div>
            <div class="modal-footer">

                {{ form_widget(form.new_playlist.name, {'attr' : { 'class' : 'form-control', 'placeholder' : 'Nouvelle Playlist'} }) }}
                {#{{ form_start(addForm, { method : "POST", action : path("single", {"slug" : tuto.slug, "id" : tuto.id}) }) }}#}

                {#<div class="form-group {% if not addForm.name.vars.valid %}has-error{% endif %}">#}
                    {#{{ form_errors(addForm.name) }}#}
                    {#{{ form_widget(addForm.name, { 'attr' : {'class' : 'form-control', 'placeholder' : "Nouvelle Playlist"} }) }}#}
                {#</div>#}

                <button id="addPlaylist" class="btn btn-primary" name="addPlaylist">Créer une nouvelle playlist</button>
                {#{{ form_end(addForm) }}#}

            </div>
            {{ form_end(form) }}

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->